{% set user = salt['pillar.get']('system:user') %}
{% set app_name = salt['pillar.get']('app:vars:app_name') %}
{% set app_path = salt['pillar.get']('app:paths:src_dir') %}
{% set venv_dir = salt['pillar.get']('system:venv_dir') %}
{% set venv_path = venv_dir ~ app_name %}

[program:{{ app_name }}_gunicorn]
command=sh {{ venv_path }}/bin/gunicorn.sh
user={{ user }}
stdout_logfile={{ app_path }}/logs/gunicorn_supervisor.log
redirect_stderr=true
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
